{% extends 'base.html' %}

{% block title %}
    Dr.Gregory House
{% endblock title %}

{% block body %}
<body class='background'>
{% endblock body %}

{% block h1 %}
<h1> SHORT INFO ABOUT DR. GREGORY HOUSE </h1>
{% endblock h1 %}


{% block content %}
<table>

    <tr>
        <td>NAME</td><td class="td2">Gregory House</td>
    </tr>
    <tr>
        <td>AGE</td><td class="td2">61</td>
    </tr>
    <tr>
        <td>DATE OF BIRTHDAY</td><td class="td2">June 11th, 1959</td>
    </tr>
    <tr>
        <td>MARITAL STATUS</td><td class="td2">Single</td>
    </tr>
    <tr>
        <td>OCCUPATION</td><td class="td2">Doctor, Head of Diagnostic Medicine, Residency in Pathology, Nephrology, infectious disease specialist, intensivist</td>
    </tr>
    <tr>
        <td>STATUS</td><td class="td2">Alive(legally declared dead)</td>
    </tr>
</table>
{% endblock content %}


        


    
